@import './colors.less';


// Width
@width-app-left: 210px;

// Height
@height-toolbar: 60px;
@height-player: 76px;


// Shadow
@shadow-app: 16px;

// Radius
@radius-progress-border: 8px;
@radius-border: 12px;

@transition-slow: .6s ease;
@transition-normal: .4s ease;
@transition-fast: .3s ease;

@form-radius: 3px;
